.my-account-container{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 8rem; 
    .side-menu{
        width: 20%;
        padding-right: 3rem; 
        border-right: 1px solid rgb(235, 235, 235); 
    }
    .content{
        padding-left: 3rem; 
        width: 80%;
    }
}