@import "../../base/styles/media_queries";
@import "../../base/styles/dimensions";

.order-card {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.05);
    margin-bottom: 1.5rem;
    
    &:hover{
        box-shadow: 0 2px 4px #bbb;
    }
    
    .order-card-header {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        &.info{
            border: 1px solid rgba(0, 167, 233, 0.07);
            background: rgba(0, 167, 233, 0.07);
        }
        &.success{
            border: 1px solid rgba(0, 233, 39, 0.07);
            background: rgba(0, 233, 39, 0.07);
        }
        &.error{
            border: 1px solid rgba(233, 16, 0, 0.05);
            background: rgba(233, 16, 0, 0.05);
        }
        border-bottom: 1px solid rgb(228, 228, 228);
        .row{
            display: flex;
            justify-content: space-between;
            font-size: 0.9rem;
            .amount-paid{
                padding-right: 1rem; 
            }
            .order-status{
                .info{
                    color: rgb(0, 110, 153);
                }
                .success{
                    color: rgb(0, 173, 29);
                }
                .error{
                    color: rgb(187, 12, 0);
                }
            }
            .view-details{
                color: rgb(8, 140, 216);
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .order-card-content{

        .order-product-content {
            display: flex;
            flex-grow: 1;
            border-top: 1px solid rgb(235, 235, 235);
            padding: 0.5rem;
            width: 100%;
            height: 100%;

            .order-product-thumbnail-container {
                cursor: pointer;
                img {
                    width: 7vw;
                    height: 20vh;
                    object-fit: cover;
                }
            }

            .order-product-details {
                display: flex;
                flex-direction: column;
                padding-left: 1.5rem;
                flex-grow: 2;
                font-size: 0.9rem !important;

                .first-row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .order-product-name {
                        cursor: pointer;
                        font-weight: 600;
                        font-size: 1.1rem;
                        color: black;
                        &:hover{
                            text-decoration: underline;
                        }
                    }

                }
                .second-row{
                }
                .third-row{
                    color: rgb(143, 143, 143);
                    display: flex;
                    padding-bottom: 0.2rem;
                    .size{
                        padding-right: 1rem;
                        margin-right: 1rem;
                        border-right: 2px solid rgb(206, 206, 206);
                    }
                    .quantity {
                    }
                }                
                .fourth-row {
                    display: flex;
                    align-items: center;
                    
                    .price {
                        font-weight: 600;
                    }
                    
                    .actual-price {
                        padding-left: 1rem;
                        text-decoration: line-through;
                        color: rgb(156, 156, 156);
                    }
                    
                    .discount {
                        padding-left: 1rem;
                        color: rgb(1, 145, 155);
                    }
                }
            }
        }
    }
}



/* ==============================
   MEDIA QUERIES
   ============================== */

   @mixin styling(
    $rowFlexDirection: column,
    $thumbnailWidth: 6rem,
    $thumbnailHeight: 10rem,
  ) {
    .order-card {
        .order-card-content{
            .order-product-content {
                .order-product-thumbnail-container {
                    img {
                        width: $thumbnailWidth !important;
                        height: $thumbnailHeight !important;
                    }
                }
            }
        }
    }
}

@media #{$mobile--smallest} {
    @include styling(
        $rowFlexDirection: column,
        $thumbnailWidth: 6rem,
        $thumbnailHeight: 10rem,
    );
  }
  
  @media #{$mobile--smaller} {
    @include styling(
        $rowFlexDirection: column,
        $thumbnailWidth: 6rem,
        $thumbnailHeight: 10rem,
    );
  }
  
  @media #{$mobile} {
    @include styling(
        $rowFlexDirection: column,
        $thumbnailWidth: 6rem,
        $thumbnailHeight: 10rem,
    );
  }
  
  @media #{$mobile--large} {
    @include styling(
        $rowFlexDirection: column,
        $thumbnailWidth: 6rem,
        $thumbnailHeight: 10rem,
    );
  }
  
  @media #{$mobile--largest} {
    @include styling(
        $rowFlexDirection: column,
        $thumbnailWidth: 6rem,
        $thumbnailHeight: 10rem,
    );
  }
  
  @media #{$tablet--smaller} {
    @include styling(
        $rowFlexDirection: column,
        $thumbnailWidth: 8rem,
        $thumbnailHeight: 12rem,
    );
}

@media #{$tablet} {
    @include styling(
        $rowFlexDirection: column,
        $thumbnailWidth: 8rem,
        $thumbnailHeight: 12rem,
    );
  }