$color-primary--dark: rgb(51, 102, 153);
$color-primary--light: rgb(52, 123, 175);
$color-primary--lighter: rgb(14, 175, 226);
$color-primary--lightest: rgba(14, 175, 226, 0.05);
$color-btn-bg--primary: $color-primary--lighter;
$color-btn-bg--danger: rgb(255, 0, 0);
$color-btn-bg--warning: rgb(244, 204, 74);
$color-btn-text--all: rgb(255, 255, 255);
$color-primary-mono--dark: #000000;
$color-primary-mono--light: rgb(77, 77, 77);
$color-primary-mono--lighter: rgb(153, 153, 153);
$color-body--bg: rgb(255, 255, 255);
$color-card--bg: rgb(255, 255, 255);
$color-card--border: rgb(201, 215, 223);
$color-text--primary: $color-primary-mono--dark;
$color-btn-text--primary: rgb(255, 255, 255);
$color--adobe_pdf: rgb(255, 0, 0);
$color-result-list-item--border: rgb(234, 234 ,234);
$color-result-list-item-bg--hover: rgb(249, 249 ,249);
$color-preview_box--bg: rgb(252,253,255);
$color-input--border: rgb(206,212,218);
$color-preview--placeholder_text: rgb(214,202,202);
$color-snippet--list_item: rgb(243,246,249);
$color-emphasis: rgb(244,204,74);
$color-share-modal-header--title: rgb(255,255,255);
