$result-viewer-card-mobile--min_height: 68.5vh;
$result-viewer-card-mobile--max_height: 68.5vh;
$preview-card-mobile--min_height: 72.5vh;
$preview-card-mobile--max_height: 72.5vh;
$main-header-bar-mobile--min_height: 7.5vh;
$main-header-bar-mobile--max_height: 7.5vh;
$main-app-container-mobile--min_height: 92.5vh;
$main-app-container-mobile--max_height: 92.5vh;
