// Import a Google Font

// @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

$family-sans-serif: 'Alata', sans-serif;

// $family-sans-serif: 'Montserrat', sans-serif;
// $family-sans-serif: 'Nunito', sans-serif;
