$landscape: "(max-height: 600px) and (max-width: 1023px)";
$landscape--tall: "(min-height: 601px) and (max-height: 700px) and (max-width: 1023px)";
$landscape--taller: "(min-height: 701px) and (max-height: 800px) and (max-width: 1023px)";
$landscape--tallest: "(min-height: 801px) and (max-width: 1023px)";
$mobile--smallest: "(max-width: 359px)";
$mobile--smaller: "(min-width: 360px) and (max-width: 411px)";
$mobile: "(min-width: 412px) and (max-width: 480px)";
$mobile--large: "(min-width: 481px) and (max-width: 575px)";
$mobile--largest: "(min-width: 576px) and (max-width: 639px)";
$mobile--tall: "(max-width: 592px) and (min-height: 1080px)";
$tablet--smaller: "(min-width: 640px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$tablet--tall: "(min-width: 600px) and (max-width: 1024px) and (min-height: 1080px)";
$desktop: "(min-width: 1024px) and (max-width: 1365px)";
$laptop--touch: "(min-height: 930px) and (max-height: 970px)";
$desktop--tall: "(min-width: 1024px) and (min-height: 1080px)";
$desktop--HD: "(min-width: 1366px) and (max-width: 1919px)";
$desktop--infinite: "(min-width: 1919px)";
$desktop--Full_HD: "(min-width: 1920px) and (max-width: 2559px)";
$desktop--2K: "(min-width: 2560px) and (max-width: 3839px)";
$desktop--4K: "(min-width: 3840px) and (max-width: 2159px)";
$any--tall: "(min-height: 1080px)";