@import '../../base/styles/colors';
@import '../../base/styles/mixins';
@import '../../base/styles/borders';
@import '../../base/styles/shadows';
@import '../../base/styles/fonts';
@import '../../base/styles/media_queries';

@mixin stretchFontVertically($y: 1) {
  -webkit-transform: scale(1, $y);
  /* Safari and Chrome */
  -moz-transform: scale(1, $y);
  /* Firefox */
  -ms-transform: scale(1, $y);
  /* IE 9 */
  -o-transform: scale(1, $y);
  /* Opera */
}

.login-page {
  @include flex($dir: row, $justifyContent: center, $alignItems: center, $alignContent: center);
  max-height: 100%;
  min-height: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  flex-grow: 1;
  // background: linear-gradient(to bottom right,  #00c4ff6e, #f072acb5) ;
  // background: linear-gradient(to bottom right,  #00c4ff6e, #a803be69) ;
  background: linear-gradient(to bottom right,  #00c4ffa8, #00d1b2e8) ;
  // background: linear-gradient(to bottom right,  #26b9ff, #1bddcb) ;
  
  .spark-logo {
    width: 500px;
    padding-bottom: 1.5rem;
  }

  .login-card {
    min-width: 450px;
    max-width: 450px;
    background: white;
    margin: 1.5rem 0 2rem;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

    .card-title {
      // letter-spacing: 1.2px;
      font-size: 1.7em;
      text-align: center;
      font-weight: 600;
      padding: 0.8em 0 0.5em 0;
      color: $color-primary-mono--light;
      // -webkit-transform: scale(1, 1.05);
    }
    .card-body {
      padding: 0 1.25rem 1.25rem 1.25rem;

      .section.auth{
        padding: 0 1.5rem !important;
      }

      .response-text{
        text-align: center;
        margin: 0.5rem 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 4px;
        min-height: 2em;
        padding: 0.75em;
        &.is-error{
          color: #cc0f35;
          background-color: #feecf0;
        }
        &.is-info{
          color: #1b79b0;
          background: #e2f5ff;
        }
        &.is-success{
          color: #048348;
          background: #e2fff4;
        }
        .response-tag{
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 1.5;
          font-size: 1rem;
          flex-grow: 2;
          flex-wrap: wrap;
          padding-left: 0.75em;
          padding-right: 0.75em;
        }
      }

      .main-button {
        cursor: pointer;
        width: 100%;
        height: 2.7rem;
        color: white;
        font-size: 1.05rem;
        font-weight: 700;
        font-family: inherit;
        letter-spacing: 1.4px;
        border: 1px solid #23ced1;
        border-radius: 0 !important;
        background: #23ced1;
        margin: 1rem 0 0 0;
        &:hover {
          border: 1px solid #29d5cc;
          background: #29d5cc;
        }
      }

      .main-link{
        cursor: pointer;
        color: #1a9296;
        &:hover{
          cursor: pointer;
          text-decoration: underline;
            color: #077a7e;
          }
      }
      
      input.input{
        border-radius: 0;
        box-shadow: 0 0 0 0;
        height: 3rem;
        font-family: inherit;        
        &:focus{
          border-color: #082555;
        }
      }

      .field{
        font-family: inherit;
        .field-label-container{
          display: flex;
          justify-content: space-between;
        }
        .field-label{
          @include stretchFontVertically(1.1);
          letter-spacing: 1.4px;
          text-align: left;
          font-weight: 600;
          padding: 0 0 0.5rem 0;
        }
        .form-feedback{
          padding: 0.3rem;
          color: red;
          font-size: 0.8rem;
          text-align: center;
        }
        .forgot-password-button{
          a{
            color: rgba(0, 0, 0, 0.644) !important;
            &:hover{
              color:rgba(0, 0, 0, 0.438);
              text-decoration: underline;
            }
          }
        }
        .control.has-icons-left .icon, .control.has-icons-right .icon {
          color: rgb(143, 143, 143);
        }
        .control.has-icons-left .input:focus ~ .icon, .control.has-icons-left .select:focus ~ .icon, .control.has-icons-right .input:focus ~ .icon, .control.has-icons-right .select:focus ~ .icon {
          color: #4a4a4a;
        }
        .icon{
          height: 3rem;
        }
      }
      .field.has-addons{
        padding: 0 !important;
        margin: 0 !important;
      }
      .login-button{
        @extend .main-button;
      }
      .signup-button{
        @extend .main-button;
      }
      .submit-button{
        @extend .main-button;
      }
      .change-password-button{
        @extend .main-button;
      }

      .link-container{
        text-align: center;
        margin: 2rem 0 0 0;
        .create-account-link{
        @extend .main-link;
      }
      .back-to-login-link{
        @extend .main-link;
      }
      }
      .links-container{
        display: flex;
        justify-content: space-between;
        color: gray;
        margin-top: 1rem;
        .create-account-link{
          @extend .main-link;
          color: #1a9296;
          font-size: 0.85rem;
        }
        .forgot-password-link{
          @extend .main-link;
          color: #1a9296;
          font-size: 0.85rem;
        }
        .back-to-login-link{
          @extend .main-link;
          color: #1a9296;
          font-size: 0.85rem;
        }
      }
      
      .sign-up-using-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(95, 95, 95);
        font-weight: 700;
        padding: 1rem;
      }
      .or-text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(74, 83, 94);
        font-weight: 700;
        padding: 1rem;
        b{
          border-radius: 50%;
          padding: 0.3rem 0.4rem;
          background: rgba(230, 230, 230, 0.89);
        }
      }
    }
}
}