.addresses-body{
    .card{
        margin: 2rem 0;
        padding: 1rem;
        box-shadow: 0 0 0 0;
        border: 1px solid rgb(219, 219, 219);
        .user-header{
            display: flex;
            justify-content: space-between;
        }
        .user-name{
            font-weight: 600;
        }
        .user-mobile{
            padding: 0.7rem 0; 
        }
        &:hover{
            border: 1px solid rgb(240, 240, 240);
            box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
        }
        .card-footer{
            button{
                span{
                    margin-right: 0.5rem !important;
                }
            }
        }
    }
}