@import "../../base/styles/media_queries";
@import "../../base/styles/dimensions";

.loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

.cart-container {
    width: 100%;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    min-height: 100vh;

    .breadcrumbs {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(224, 224, 224);

        .arrow-item{
            padding: 0 0.3rem;
            color: gray;
        }
        .item {
            padding: 0 0.3rem;
            color: gray;
            
            &.link{
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                    color: rgb(90, 90, 90);
                }
            }
            &.is-active {
                font-weight: bold;
                color: rgb(0, 114, 122);
                &.link{
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                        color: rgb(1, 84, 90);
                    }
                }
            }
        }
    }
    .cart-btn-mobile{
        display: none;
        font-family: inherit;
        border-radius: 0;
    }
    .cart-content {
        width: 1100px;
        margin: 0 auto;
        display: flex;
        flex-grow: 2;
        justify-content: center;

        .no-cart-items {
            display: flex;
            flex-direction: column;
            flex-grow: 2;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            .no-items-img{
                height: 11vh;
                margin-bottom: 1rem;
            }
        }

        .left-container {
            width: 65%;
            height: 100%;
            padding-top: 1rem;

            .header {
                color: black;
                padding: 0.8rem 0;
                display: flex;
                justify-content: space-between;

                .items {
                    font-weight: 600;
                }

                .total {
                    font-weight: 600;
                }
            }

            .products-summary-container {
                width: 100%;
            }

            .addresses-container {
                margin: 1rem 0;

                .addresses-body {
                    display: flex;
                    flex-wrap: wrap;
                    box-sizing: border-box;
                    justify-content: space-between;
                    flex-grow: 2;

                    .add-address-card {
                        width: 48%;
                        margin: 1em 0;
                        padding: 1em;
                        min-height: 40vh;
                        box-shadow: 0 0 0 0;
                        border: 1px solid rgb(219, 219, 219);
                        font-size: 0.9rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0 0 4px rgba(40, 44, 63, .08);
                        &:hover{
                            border: 1px solid rgb(240, 240, 240);
                            box-shadow: 0 0 4px rgba(40, 44, 63, 0.08);
                        }
                    }

                    .card {
                        width: 48%;
                        margin: 1em 0;
                        box-shadow: 0 0 4px rgba(40, 44, 63, .08);

                        .radio-container {
                            padding: 1rem 0;
                            margin-bottom: 0.5rem;

                            label {
                                // color: white !important;
                            }
                        }
                    }
                }
            }
            .payment-mode-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .payment-mode-title {
                    font-size: 1.5rem;
                    color: rgb(0, 101, 126);
                    padding: 1rem 0;
                } 
                .ui.checkbox {
                    margin: 2rem;
                }
                .payment-mode-label {
                    font-size: 1.2rem;
                }
            }
        }

        .right-container {
            width: 35%;
            height: 100%;
            padding: 2rem;
            display: flex;
            flex-direction: column;

            .cart-btn {
                font-family: inherit;
                border-radius: 0;
            }

            .field-container {
                padding: 2rem 0;
                color: black;

                .field-title {
                    font-size: 0.9rem;
                    font-weight: 600;
                    padding-bottom: 0.3rem;
                }

                .field-content {
                    .field-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0.4rem 0;

                        .field-item-key {}

                        .field-item-value {
                            &.discount {
                                color: rgb(2, 173, 102);
                            }
                            .info-icon-container{
                                cursor: pointer;
                            }
                            &.delivery-charge {
                                color: rgb(173, 133, 2);
                            }
                        }

                    }

                    .line-border {
                        width: 100%;
                        padding: 0.3rem 0;
                        border-bottom: 1px solid rgb(226, 226, 226);
                    }
                }
            }
        }
    }
}
.order-response-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title{
        margin-top: 2rem;
    }
    .view-order-btn{
        margin-top: 2rem;
        &:hover{
            text-decoration: underline;
        }
    }
}
.summary-container{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: center;

    .summary-header{
        font-size: 1.3rem;
        font-weight: bold;
        text-decoration: underline;
        padding-bottom: 1rem;
    }
    .summary-content{
        width: 70%;
    }
}



/* ==============================
   MEDIA QUERIES
   ============================== */

   @mixin styling(
    $cartContainerPadding: 2rem,
    $cartContentWidth: 1100px,
    $cartContentFlexDirection: row,
    $leftContainerWidth: 65%,
    $rightContainerWidth: 35%,
    $rightContainerFlexDirection: column,
    $rightContainerPadding: 2rem
  ) {
      .cart-container{
          padding: $cartContainerPadding !important;
          box-sizing: border-box !important;
          .breadcrumbs{
              margin-top: 0.5rem !important;
          }
          .cart-btn-mobile{
              display: flex !important;
              align-items: center !important;
              justify-content: center !important;
          }
        .cart-content {
            width: $cartContentWidth !important;
            flex-direction: $cartContentFlexDirection !important;
            .left-container {
                width: $leftContainerWidth !important;
            }
            .right-container {
                border-top: 1px solid rgb(241, 241, 241) !important ;
                width: $rightContainerWidth !important;
                flex-direction: $rightContainerFlexDirection !important;
                padding: $rightContainerPadding !important;
            }
        }
      }
      .addresses-body{
        .add-address-card{
            width: 100% !important;
        }
        .card{
            width: 100% !important;
        }
        }
        .addresses-container {

            .editable-field{
                width: 100% !important;
                margin-bottom: 0.3rem !important;
            }
        }
        .action-buttons{
            box-sizing: border-box !important;
            width: 100% !important;
            .button{
                width: 47% !important;
            }
        }
        .order-response-container{
            padding: 1rem !important;
            .title{
                text-align: center !important;
            }
            .order-number-text{
                text-align: center !important;
            }
            .order-subtext{
                text-align: center !important;
            }
        }
        .summary-content{
            width: 100%;
        }
    }

@media #{$mobile--smallest} {
    @include styling(
        $cartContainerPadding: 0rem,
        $cartContentWidth: 90%,
        $cartContentFlexDirection: column,
        $leftContainerWidth: 100%,
        $rightContainerWidth: 100%,
        $rightContainerFlexDirection: column-reverse,
        $rightContainerPadding: 0rem
    );
  }
  
  @media #{$mobile--smaller} {
    @include styling(
        $cartContainerPadding: 0rem,
        $cartContentWidth: 90%,
        $cartContentFlexDirection: column,
        $leftContainerWidth: 100%,
        $rightContainerWidth: 100%,
        $rightContainerFlexDirection: column-reverse,
        $rightContainerPadding: 0rem
    );
  }
  
  @media #{$mobile} {
    @include styling(
        $cartContainerPadding: 0rem,
        $cartContentWidth: 90%,
        $cartContentFlexDirection: column,
        $leftContainerWidth: 100%,
        $rightContainerWidth: 100%,
        $rightContainerFlexDirection: column-reverse,
        $rightContainerPadding: 0rem
    );
  }
  
  @media #{$mobile--large} {
    @include styling(
        $cartContainerPadding: 0rem,
        $cartContentWidth: 90%,
        $cartContentFlexDirection: column,
        $leftContainerWidth: 100%,
        $rightContainerWidth: 100%,
        $rightContainerFlexDirection: column-reverse,
        $rightContainerPadding: 0rem
    );
  }
  
  @media #{$mobile--largest} {
    @include styling(
        $cartContainerPadding: 0rem,
        $cartContentWidth: 90%,
        $cartContentFlexDirection: column,
        $leftContainerWidth: 100%,
        $rightContainerWidth: 100%,
        $rightContainerFlexDirection: column-reverse,
        $rightContainerPadding: 0rem
    );
  }
  
  @media #{$tablet--smaller} {
    @include styling(
        $cartContainerPadding: 0rem,
        $cartContentWidth: 90%,
        $cartContentFlexDirection: column,
        $leftContainerWidth: 100%,
        $rightContainerWidth: 100%,
        $rightContainerFlexDirection: column-reverse,
        $rightContainerPadding: 0rem
    );
}

@media #{$tablet} {
    @include styling(
        $cartContainerPadding: 0rem,
        $cartContentWidth: 90%,
        $cartContentFlexDirection: column,
        $leftContainerWidth: 100%,
        $rightContainerWidth: 100%,
        $rightContainerFlexDirection: column-reverse,
        $rightContainerPadding: 0rem
    );
  }