@import '../../base/styles/fonts.scss';

.static-shp-container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 4rem;
    font-family: $family-josefin;
    font-style: normal;
    font-weight: 500;
    align-items: center;
    min-height: 60vh;
    
    .static-shp-header{
        font-size: 2.5rem;
        font-weight: 700;
        padding-bottom: 1rem;
        color: #00bfc5;
    }
    .static-shp-content{
        font-weight: 600;
        font-size: 1.3rem;
        .one-ul{
            list-style-type: disc;
            font-weight: 500;
        }   
        .two-ul{
            padding-left: 2rem;
            list-style-type: disc;
            font-weight: 500;
        }
    }
}