$navbar-tab-hover-border-bottom-color: black;

.logo-container {
    display: flex;
    justify-content: center;
    padding: 0.5rem 7rem 0.7rem 7rem;

    .logo-img {
        max-height: 8rem !important;
        height: 6rem;
        width: auto;
    }
}

.navbar-menu {
    justify-content: center;
}

.navbar {
    position: sticky !important;
    top: 0;
    z-index: 2;
    padding: 0.3rem 0;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);

    .logo-img {
        max-height: 5rem !important;
    }

    a.navbar-item:focus,
    a.navbar-item:focus-within,
    a.navbar-item:hover,
    a.navbar-item.is-active,
    .navbar-link:focus,
    .navbar-link:focus-within,
    .navbar-link:hover,
    .navbar-link.is-active {
        background-color: #ffffff00;
        color: black;
        font-weight: 600;
    }

    a.navbar-item:focus,
    a.navbar-item:focus-within,
    a.navbar-item:hover,
    a.navbar-item.is-active,
    .navbar-link:focus,
    .navbar-link:focus-within,
    .navbar-link:hover,
    .navbar-link.is-active {
        background-color: #ffffff00;
    }

    .search-container.field {
        display: flex;
        align-items: center;
        padding: 0 7vw;
        margin: 0 !important;

        .search-icon {
            width: 1em;
        }
    }

    .input:focus,
    .textarea:focus,
    .select select:focus,
    .is-focused.input,
    .is-focused.textarea,
    .select select.is-focused,
    .input:active,
    .textarea:active,
    .select select:active,
    .is-active.input,
    .is-active.textarea,
    .select select.is-active {
        border-color: #ffffff73;
        box-shadow: 0 0 0 0.125em rgba(189, 189, 189, 0.4);
    }
    .navbar-dropdown {
        padding: 0 !important;
        .dropdown-container{
            display: flex;
            flex-direction: row;
            // padding: 0.3rem 1.2rem;
            .links-container{
                &.odd-column{
                    background: rgba(221, 221, 221, 0.210);
                    padding: 0.3rem 1.2rem;
                }
                &.even-column{
                    background: rgba(235, 235, 235, 0.210);
                }
                display: flex;
                flex-direction: column;
                padding: 0.3rem 1rem;
                .title-link{
                    font-weight: 650;
                    color: rgba(0, 96, 126, 0.822);
                    padding: 1rem 0 0.3rem 0;
                    // border-bottom: 1px solid rgb(223, 223, 223); 
                }
                .sub-link{
                    color: rgba(0, 0, 0, 0.822);
                    padding: 1rem 0 0.3rem 0;
                    &:hover{
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .action-buttons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .action-btn {
            margin: 0.5rem;
            max-width: 3em;
            padding: 0.7em 0.9em;
            cursor: pointer;

            &:hover {
                border-radius: 25px;
                background: rgba(235, 235, 235, 0.596);
            }

            .action-icon {
                width: 1.5em;
            }
        }
        .login-signup-container{
            display: flex;
            align-items: center;
            .login-btn{
                margin: 0 1rem;
            }   
            .signup-btn{
                margin: 0 1rem;
            }   
        }
    }
}