$navbar-tab-hover-border-bottom-color: black;

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vh auto;
    flex-grow: 2;
    
    .logo-img {
        max-height: 8rem !important;
        height: 6rem;
        min-width: auto;
    }
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar-menu {
    justify-content: space-around;
    align-items: center;
    flex-grow: 4;
}
.main-nav-container{
    display: flex;
}
.navbar {
    position: sticky !important;
    top: 0;
    z-index: 2;
    padding: 0.3rem 0;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);

    .logo-img {
        max-height: 5rem !important;
    }

    a.navbar-item:focus,
    a.navbar-item:focus-within,
    a.navbar-item:hover,
    a.navbar-item.is-active,
    .navbar-link:focus,
    .navbar-link:focus-within,
    .navbar-link:hover,
    .navbar-link.is-active {
        background-color: #ffffff00;
        color: black;
        font-weight: 600;
    }

    a.navbar-item:focus,
    a.navbar-item:focus-within,
    a.navbar-item:hover,
    a.navbar-item.is-active,
    .navbar-link:focus,
    .navbar-link:focus-within,
    .navbar-link:hover,
    .navbar-link.is-active {
        background-color: #ffffff00;
    }

    .search-container.field {
        display: flex;
        align-items: center;
        padding: 0 7vw;
        margin: 0 !important;

        .search-icon {
            width: 1em;
        }
    }

    .input:focus,
    .textarea:focus,
    .select select:focus,
    .is-focused.input,
    .is-focused.textarea,
    .select select.is-focused,
    .input:active,
    .textarea:active,
    .select select:active,
    .is-active.input,
    .is-active.textarea,
    .select select.is-active {
        border-color: #ffffff73;
        box-shadow: 0 0 0 0.125em rgba(189, 189, 189, 0.4);
    }

    .navbar-dropdown {
        padding: 0 !important;

        .dropdown-container {
            display: flex;
            flex-direction: row;

            .links-container {
                &.odd-column {
                    background: rgba(221, 221, 221, 0.210);
                    padding: 0.3rem 1.2rem;
                }

                &.even-column {
                    background: rgba(235, 235, 235, 0.116);
                }

                display: flex;
                flex-direction: column;
                padding: 0.5rem 0;

                .title-link {
                    font-weight: 650;
                    color: rgba(0, 96, 126, 0.822);
                    padding: 1rem 0.5rem 0.3rem 0.5rem;
                    padding: 0.8rem 2rem;
                }

                .sub-link {
                    color: rgba(0, 0, 0, 0.822);
                    padding: 0.8rem 2rem;
                    transition: 0.2s ease;

                    &:hover {
                        font-weight: 600;
                        background: rgba(216, 216, 216, 0.274);
                    }
                }
            }
        }
    }

    .action-buttons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 3rem;
        .action-btn {
            cursor: pointer;
            margin: 0.5rem;
            max-width: 3em;
            padding: 0.9em;
            display: flex;
            flex-grow: 2;
            

            &:hover {
                border-radius: 25px;
                background: rgba(235, 235, 235, 0.596);
            }

            .action-icon {
                width: 1.5em;
            }

            &.cart{
                .count{
                    position: absolute;
                    color: white;
                    background: #8e4fb6;
                    border-radius: 50%;
                    top: 12px;
                    right: 12px;
                    font-size: 11px;
                    width: 18px;
                    height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    font-family: inherit;
                }
            }
        }
        .dropdown-content{  
            border-radius: 0;
            .action-link-container{
                a {
                    @extend .selectable;
                }
            }
    
            .selectable {
                display: flex;
                flex-grow: 2;
                width: 100%;
                font-weight: 500;
                color: #4a4a4a;
                font-size: 0.875rem;
                line-height: 1.5;
                padding: 0.375rem 1rem;
                position: relative;
                transition: 0.2s ease;
    
                &:hover {
                    color: black !important;
                    font-weight: 600;
                    background: rgba(235, 235, 235, 0.596);
                }
            }
        }

        .login-signup-container {
            display: flex;
            align-items: center;

            .login-btn {
                cursor: pointer;
                font-family: inherit;
                border-radius: 16px;
                margin: 0 1rem;
                background: rgb(8, 57, 163);
                color: white;
                border: 1px solid rgb(8, 57, 163);
                padding: 0.3rem 0.8rem;

                &:focus {
                    outline: 0;
                }

                &:hover {
                    border: 1px solid rgb(6, 25, 133);
                    background: rgb(6, 25, 133);
                }
            }
        }
    }
    .cart-popup{
        border-radius: 0;
        padding: 0;
        min-width: 20vw;
        .no-items{
            display: flex;
            justify-content: center;
            align-items: center;
            color: gray;
            font-size: 1.2rem;
            min-height: 10vh;
        }
        .cart-popup-header{
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: 1px solid rgb(243, 243, 243);
            .cart-popup-title{
                color: gray;
            }
            .cart-popup-value{
                color: rgb(0, 141, 184);
            }
        }
        .cart-popup-content{
            display: flex;
            flex-direction: column;
            font-size: 0.9rem;
            max-height: 60vh;
            overflow-y: auto;
            overflow-x: hidden;

            .cart-popup-product-item{
                display: flex;
                border-bottom: 1px solid whitesmoke;
                padding: 1rem;
                .cart-popup-left-container{
                    padding-right: 1rem;
                    .cart-popup-product-thumbnail-image{
                        width: 5vw;
                        height: 5vw;
                        object-fit: cover;
                    }
                }
                .cart-popup-right-container{
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                    .first-row{
                        display: flex;
                        align-items: center;
                        .product-title{
                            color: black;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        
                    }
                    .second-row{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .price{
                            color: rgb(0, 76, 138);
                            padding-right: 1rem;
                        }
                        .product-quantity{
                            padding-left: 1rem;
                            color: gray;
                        }
                    }
                }
            }
        }
        .cart-popup-footer{
            padding: 1rem;
            .popup-checkout{
                font-family: inherit;
                border-radius: 0;
                background: rgb(0, 163, 184);
                a{
                    color: white;
                }
                &:hover{
                    background: linear-gradient(rgb(0, 163, 184),rgb(0, 116, 131)); 
                }
            }
        }
    }
    
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        transition: 0.5s;
        box-shadow: 5px 0 8px rgba(0,0,0,.2);
        z-index: 5;
        &.is-active{
            width: 70%;
        }
        .side-nav-logo-container{
            display: flex;
            justify-content: center;
            margin: 0.5vh auto;
            border-bottom: 1px solid rgb(235, 235, 235);
            width: 100%;
            padding: 0.5rem;
            .logo-img {
                max-height: 8rem !important;
                height: 5rem;
                min-width: auto;
            }
        }
        .sidenav-item{
            // margin: 0 1rem;
            padding: 1rem;
            border-bottom: 1px solid rgb(219, 219, 219);
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: rgb(31, 31, 31);
            z-index: 6 !important;
            a{
                color: rgb(31, 31, 31) !important;
            }
            &.is-active{
                background: rgb(235, 235, 235);
                color: rgb(31, 31, 31) !important;
            }
        }
    }
}
.faded-content{
    position: absolute;
    top:0;
    display: flex;
    flex-grow: 2;
    width: 100%;
    height: 100%;
    background: rgba(44, 44, 44, 0.14);
    z-index: 2;
}
