.product-container {
    width: 100%;
    display: flex;
    flex-grow: 2;
    justify-content: center;
    padding: 3rem 5rem;
    min-height: 100vh;
    
    .loader-container{
        width: 100%;
        display: flex;
        flex-grow: 2;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .left-container {
        width: 65%;
        height: 100%;
        .images-container {
            display: flex;
            align-items: center;
            justify-content: center;
            .arrow-btn{
                cursor: pointer;
                width: 4rem;
                height: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(231, 231, 231);
                border: 0px;
                &:hover{
                    background: rgb(218, 218, 218);
                }
                &:focus{
                    outline: rgba(255, 255, 255, 0);
                }
            }
            .w3-content.w3-display-container{
                overflow: hidden;
                .mySlides{
                    display: none;
                    &.active{
                        width: 30vw;
                        display: block;
                        object-fit: cover;
                        height: 75vh;
                        -webkit-transition: -webkit-transform 0.4s;
                        transition: -webkit-transform 0.4s;
                        -o-transition: -o-transform 0.4s;
                        -moz-transition: transform 0.4s, -moz-transform 0.4s;
                        transition: transform .4s;
                        transition: transform 0.4s, -webkit-transform 0.4s, -moz-transform 0.4s, -o-transform 0.4s;
                        &:hover{
                            -webkit-transform: scale(1.04);
                            -moz-transform: scale(1.04);
                            -ms-transform: scale(1.04);
                            -o-transform: scale(1.04);
                            transform: scale(1.04);
                        }
                    }
                }
            }
            .w3-transparent {
                height: 0.8rem;
                width: 0.8rem;
                padding: 0 !important;
                margin: 0.3rem 0.5rem;
                border: 50%;
                border: 0.8px solid rgba(51, 51, 51, 0);
                background: rgba(0, 0, 0, 0.541) !important;
            }
            .w3-white {
                border: 0.8px solid rgba(255, 255, 255, 0) !important;
                background: rgba(214, 214, 214, 0.555) !important;
            }
        }
    }
    .right-container {
        width: 35%;
        padding: 0 3rem;
        display: flex;
        flex-grow: 2;
        flex-direction: column;
        justify-content: flex-start;
        .edit-btn{
            margin-bottom: 0.5rem;
            border-radius: 0;
            .icon{
                margin-right: 0.7rem;
            }
        }
        .editable-input{
            border-radius: 0 !important;
            border: 1px solid rgb(219, 219, 219);
            box-shadow: 0 0 0 0;
            &:focus{
                border: 1px solid rgb(216, 216, 216);
                border-color: #8d8d8d;
            }
        }
        .product-title {
            font-size: 2rem;
            font-weight: 600;
            padding-bottom: 0.5rem;
            line-height: 2.5rem;
            color: black;
        }
        .description {
            color: rgb(51, 51, 51);
            font-size: 1.3rem;
            font-weight: 600;
            padding-bottom: 0.8rem;
        }
        .price-container {
            display: flex;
            align-items: center;
            padding-bottom: 1.5rem;
            color: black;
            border-bottom: 1px solid rgb(224, 224, 224);
            .price-text {
                font-size: 1.2rem;
                font-weight: 600;
                padding-right: 0.8rem;
            }
            .actual-price-text {
                font-size: 1.3rem;
                text-decoration: line-through;
                padding-right: 0.8rem;
                color: gray;
            }
            .discount-text {
                font-size: 1.3rem;
                color: rgb(0, 203, 218);
            }   
        }
        .field-container {
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            .field-title {
                font-size: 1rem;
                font-weight: 600;
                padding-right: 0.7rem;
                color: rgb(39, 39, 39);
                color: black;
            }
            .two-inputs{
                display: flex;
            }
            .sizes-content {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding-top: 0.3rem;
                .size-box-content{
                    display: flex;
                    flex-direction: column;
                    width: 3rem;
                    &.size-with-warning{
                        position: relative;
                        // padding-bottom: 1.4rem; 
                    }
                    .size-availablity-label{
                        position: absolute;
                        bottom: -1.2rem;
                        color: white;
                        font-size: 0.65rem;
                        width: 3rem;
                        padding: 0.1rem 0.275rem;
                        &.warning{
                            border: 1px solid chocolate;
                            background: chocolate;
                        }
                    }
                    .size-box {
                        width: 3rem;
                        height: 3rem;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.2rem;
                        border: 1px solid rgb(212, 212, 212);
                        background: white;
                        &.active {
                            color: white;
                            background: #eeb005;
                            &:hover {
                                background: #ce9904;
                            }
                        }
                        &.disabled {
                            cursor: not-allowed;
                            color: rgb(228, 228, 228);
                        }
                        &:hover {
                            background: rgb(245, 245, 245);
                        }
                        &:focus {
                            outline: rgba(255, 255, 255, 0);
                        }
                    }
                }
            }
            .colors-content {
                display: flex;
                align-content: center;
                align-items: center;
                padding-top: 0.3rem;
                .color-box { 
                    width: 2.5rem;
                    height: 2.5rem;
                    border: 4px solid rgb(240, 240, 240);
                    padding: 3px;
                    margin-right: 1rem;
                }
            }
            .check-pincode-input-container{
                box-sizing: border-box;
                display: flex;
                margin-top: 0.3rem;
                width: 100%;
                input.input {
                    width: 100%;
                    border-radius: 0;
                    box-shadow: 0 0 0 0;
                    height: 2.5rem;
                    font-family: inherit;        
                    padding-left: 0.5rem;
                    &:focus{
                        border-color: #082555;
                    }
                }
                button{
                    width: 50%;
                    font-family: inherit;
                    border: 1px solid rgb(17, 0, 92);
                    border-radius: 0;
                    background: rgb(17, 0, 92);
                    color: white;
                    &:hover{
                        border: 1px solid rgb(22, 0, 117);
                        background: rgb(22, 0, 117);
                        
                    }
                }
            }
        }
        .add-desc-btn{
            margin: 1rem 0;
        }
        .product-info-container{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0.5rem 0;
            .product-info-field{
                background: rgba(241, 241, 241, 0.377);
                display: flex;
                align-items: center;
                width: 100%;
                border: 1px solid whitesmoke;
                padding: 0.5rem;
                .key-input-control{
                    width: 30%;
                }
                .value-input-control{
                    width: 70%;
                }
                button{
                    margin-left: 1rem;
                }

            }
            .add-icon{
                margin-left: 1rem;
            }
        }
        .add-to-cart-btn{
            font-family: inherit;
            margin-top: 1.5rem;
            border-radius: 0;
            background: #9bc200;
            color: white;
            .icon{
                padding-right: 1.5rem;
            }
        }
        .action-buttons{
            display: flex;
            width: 100%;
            margin-top: 2rem;
            .update-btn{
                font-family: inherit;
                border-radius: 0;
                background: #030179;
                color: white;
            }
            .cancel-btn{
                font-family: inherit;
                border-radius: 0;
                background: #b90239;
                color: white;
            }
        }
        .response-text{
            text-align: center;
            margin: 0.5rem 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            border-radius: 4px;
            min-height: 2em;
            padding: 0.75em;
            &.is-error{
                color: #cc0f35;
                background-color: #feecf0;
            }
            &.is-info{
                color: #1b79b0;
                background: #e2f5ff;
            }
            &.is-success{
                color: #048348;
                background: #e2fff4;
            }
            .response-tag{
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1.5;
                font-size: 1rem;
                flex-grow: 2;
                flex-wrap: wrap;
                padding-left: 0.75em;
                padding-right: 0.75em;
            }
        }
        .select-size-error{
            font-size: 0.9rem;
            color: red;
            text-align: center;
        }
    }
}