@mixin apply-background-image ($url: none) {
    background: url($url) no-repeat center center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tile-container {
    padding: 4rem 8rem;
}

.image-container {
    position: relative;

    .img-element {
        display: block;
        width: 100%;
        height: auto;
    }

    .left-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(58, 58, 58, 0.555);
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
    }

    .right-overlay {
        position: absolute;
        bottom: 0;
        left: 100%;
        right: 0;
        background-color: rgba(58, 58, 58, 0.555);
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
    }

    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }

    &:hover .right-overlay {
        width: 100%;
        left: 0;
    }

    &:hover .left-overlay {
        width: 100%;
    }
}

.bg-women-latest-collection {
    height: 70%;
    @include apply-background-image('https://i.ibb.co/T0P5bjk/COVER.png');
}

.features-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1vw 2vw;

        img {
            height: 4em;
            border: 1px solid #e9e9e9;
            border-radius: 50%;
        }
        p{
            padding: 1rem 0 0 0;
        }
    }
}

// .bg-men-shopping {
//     @include apply-background-image("../../../public/img/men_4.png")
// }

// .bg-women-shopping {
//     @include apply-background-image("../../../public/img/women_pink.png")
// }