.specials-container {
    .image-container {
        width: 100%;
        display: flex;
        flex-grow: 2;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title {
            padding: 2rem;
            font-size: 2rem;
        }
    }

    .specials-products-container {
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-grow: 2;
        padding: 1rem;
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: border-box;
        .loader-container{
            display: flex;
            flex-grow: 2;
            min-height: 50vh;
            justify-content: center;

        }
    }
}