@import '../../base/styles/fonts.scss';
@import "../../base/styles/media_queries";
@import "../../base/styles/dimensions";

.static-au-container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 4rem;
    font-family: $family-josefin;
    font-style: normal;
    font-weight: 500;
    align-items: center;
    min-height: 60vh;

    .static-au-header{
        font-size: 2.5rem;
        font-weight: 700;
        padding-bottom: 1rem;
        color: #3777a5;
    }
    .static-au-content{
        font-size: 1.3rem;
        font-weight: 600;
        
    }
}



/* ==============================
   MEDIA QUERIES
   ============================== */

   @mixin styling(
    $containerPadding: 4rem,
    $headerFontSize: 2.5rem,
    $contentFontSize: 1.3rem,
  ) {
    .static-au-container{
        padding: $containerPadding !important;
        .static-au-header{
            font-size: $headerFontSize !important;
        }
        .static-au-content{
            font-size: $contentFontSize !important;
        }
    }
}

@media #{$mobile--smallest} {
    @include styling(
        $containerPadding: 1.5rem,
        $headerFontSize: 1.5rem,
        $contentFontSize: 1rem,
    );
  }
  
  @media #{$mobile--smaller} {
    @include styling(
        $containerPadding: 1.5rem,
        $headerFontSize: 1.5rem,
        $contentFontSize: 1rem,
    );
  }
  
  @media #{$mobile} {
    @include styling(
        $containerPadding: 1.5rem,
        $headerFontSize: 1.5rem,
        $contentFontSize: 1rem,
    );
  }
  
  @media #{$mobile--large} {
    @include styling(
        $containerPadding: 1.5rem,
        $headerFontSize: 1.5rem,
        $contentFontSize: 1rem,
    );
  }
  
  @media #{$mobile--largest} {
    @include styling(
        $containerPadding: 1.5rem,
        $headerFontSize: 1.5rem,
        $contentFontSize: 1rem,
    );
  }
  
  @media #{$tablet--smaller} {
    @include styling(
        $containerPadding: 2rem,
        $headerFontSize: 1.8rem,
        $contentFontSize: 1.2rem,
    );
}

@media #{$tablet} {
    @include styling(
        $containerPadding: 2rem,
        $headerFontSize: 1.8rem,
        $contentFontSize: 1.2rem,
    );
  }
  