$primary: #007b8b91;
$link: #007b8bc4;
@import '~bulma/bulma.sass';
@import './base/styles/fonts.scss';

// Set your brand colors
$purple: #77004f;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
// $family-sans-serif: 'Nunito', sans-serif;

$grey-dark: $brown;
$grey-light: $beige-light;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$menu-item-active-background-color: rgb(21, 140, 170) !important;

// Import only what you need from Bulma
body{
    font-family: $family-sans-serif !important;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    min-height: 100%;
    min-width: 100%;
}
