.product-page {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;

    .left-container {
        width: 18%;
        padding: 1rem;
        flex-grow: 2;
        background: rgba(255, 255, 255, 0.274);
    }

    .right-container {
        width: 82%;
        display: flex;
        flex-grow: 2;
        flex-direction: column;
        overflow: auto;

        .results-action-container {
            width: 100%;
            padding: 1rem;
        }
        .products-list-container {
            background: rgba(240, 240, 240, 0.37);
            display: flex;
            flex-wrap: wrap;
            flex-grow: 2;
            padding: 1rem;

        }
    }
}