.product-page {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    min-height: 600px;

    .left-container {
        width: 18%;
        padding: 1rem;
        display: flex;
        flex-grow: 2;
        // align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.274);
        border-right: 1px solid rgb(228, 228, 228);
        .loader-container{
            width: 100%;
            display: flex;
            flex-grow: 2;
            align-items: center;
            justify-content: center;
        }
    }

    .right-container {
        width: 82%;
        display: flex;
        flex-grow: 2;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        overflow: auto;
        padding: 1rem;
        
        .loader-container{
            width: 100%;
            display: flex;
            flex-grow: 2;
            align-items: center;
            justify-content: center;
        }
        .results-action-container {
            width: 100%;
            padding: 1rem;
        }
        .products-list-container {
            background: rgba(240, 240, 240, 0.37);
            display: flex;
            flex-wrap: wrap;
            flex-grow: 2;
            padding: 1rem;

        }
    }
}